body{
    background: palevioletred;
}
table{
	margin-top: 50px;
	text-align: center;
	background: yellowgreen;
	color: #fff;
	border: 0;
	outline: none;
}
td{
  border: 0;
  outline: none;
}
#show th, #show td{
	padding: 13px;
}

#btna td input{
	width: 100%;
	border: 0;
	outline: none;
}